a{
    float: right;
    text-decoration: none;
    color: #00AEAE;
}
div{
    width: 450px;
    height: 500px;
    border: 1.5px solid darkgray ;
    padding: 10px;
    margin: auto;
}
span {
    border: black;
    border-bottom: 3px solid darkorchid;
    padding-bottom: 5px;
}
.in1 {
    width: 450px;
    height: 40px;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-indent: 8px;
    margin-top: 23px;
}
.in2 {
    width: 320px;
    height: 40px;
    border: 1px solid darkgray;
    border-radius: 5px;
    text-indent: 8px;
    margin-top: 23px;
}
.in3 {
    width: 123px;
    height: 43px;
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 5px;
    background: white;
    margin-top: 23px;

}
.in4 {
    width: 450px;
    height: 40px;
    color: white;
    border: 1px solid darkblue;
    border-radius: 5px;
    background: blue;
    margin-top: 23px;
}
.tu {
    width: 123px;
    height: 43px;
    color: darkblue;
    border: 1px solid darkblue;
    border-radius: 5px;
    background: white;
    margin-top: 23px;
    vertical-align: middle;
    position: absolute;
    top: auto;
    left: auto;
}